<div>
    <div *ngIf="blogs">
        <div *ngFor="#blog of blogs">
            <b>{{blog.Title}}</b>
            <p>{{blog.Description}}</p>
        </div>
    </div>
    <a [routerLink]="['BlogAdd']">Add New Blog</a>
</div>

<div style="width: 300px; margin-bottom: 20px;">
    <h3>Select a single city</h3>
    <ng-select [allowClear]="true"
               [items]="items"
               [disabled]="disabled"
               (data)="refreshValue($event)"
               (selected)="selected($event)"
               (removed)="removed($event)"
               (typed)="typed($event)"
               placeholder="No city selected">
    </ng-select>
    <p></p>
    <pre>{{value.text}}</pre>
    <div>
        
    </div>
</div>